// sideLeft
.sideLeft{
    right: 0;
    top: 0;
    width: 65px;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.021);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: .5px solid rgba(236, 236, 236, 0.219);
    transition: all .3s ease;
    &:hover{
        background-color: rgba(255, 255, 255, 0.123);
    }

    .sideleftTop{

        .sideleftTopUl{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .sideleftTopli{
                width: 65px;
                position: relative;

                .questionBtnCard{
                    
                    width: 840px;
                    height: auto;
                    position: absolute;
                    top: 0;
                    right: 65px;
                    background-color: rgb(255, 255, 255);
                    height: 2000px;

                    main{
                        display: -webkit-box;

                        .readFaq{

                            width: 610px;
                            .readFaq1{
                                
                                padding: 25px 0px;
                                border-bottom: 1px solid #ebeaea;

                                @include readFaqNumber;

                                .readFaq1Ul{

                        
                                    .readFaq1Li{
                                        display: flex;
                                        text-align: left;
                                        margin-left: 40px;
                                        padding: 10px 40px;

                                        .readFaq1text{
                                            margin-left: 20px;

                                            .readFaq1title{
                                                
                                                @include faqTitle;

                                                
                                            }
                                            .readFaq1Description{
                                                font-size: 12px;
                                                line-height: 20px;
                                                color: #4c4c4c;
                                            }
                                        }
                                    }
                                }
                            }

                            .readfaq2{
                                padding: 25px 0px;
                                border-bottom: 1px solid #ebeaea;

                                @include readFaqNumber;

                                .faqNumber{
                                    position: relative;
                                    &::after{
                                        position: absolute;
                                        content: url(/assets/images/help-arrows-down.png);
                                        top: -140px;

                                    }
                                }

                                .readfaq2SearchBox{
                                    position: relative;

                                    input{
                                        font-family: OpenSans, Helvetica, Arial, sans-serif;
                                        width: 490px;
                                        height: 60px;
                                        padding-left: 15px;
                                        border: 1px solid #dddcdc;
                                        font-size: 18px;
                                        font-weight: 300;
                                    }

                                    i{
                                        font-size: 25px;
                                        color: gray;
                                        position: absolute;
                                        right: 80px;
                                        top: 15px;
                                    }
                                }
                            }

                            .readfaq3{
                                padding: 25px 0px;
                                border-bottom: 1px solid #ebeaea;

                                @include readFaqNumber;

                                .faqNumber{
                                    position: relative;
                                    &::after{
                                        position: absolute;
                                        content: url(/assets/images/help-arrows-left.png);
                                        top: -55px;
                                        left: 25px;

                                    }
                                }

                                .faq3{

                                    .faq3li{
                                        @include faqTitle;
                                        padding: 8px;
                                        text-align: left;
                                        margin-left: 75px;

                                        @include buttonStyle;
                                    }
                                }
                            }
                        }
                    }

                    .questionBtnCardHeader{
                        display: flex;
                        position: sticky;
                        

                        .supportlogo{
                            width: 230px;
                            padding: 24px 0;
                            background-color: rgba(238, 242, 244, 0.95);
                            img{
                                margin-right: 50px;
                            }
                        }

                        .questionBtnHeader{
                            width: 610px;
                            padding: 10px 0;
                            background-color: white;
                            border-bottom: rgba(168, 168, 168, 0.178) 1px solid;

                            .feedTitle{
                                font-size: 2rem;
                            }
                            .feedP{
                                font-size: 14px;
                                position: relative;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    width: 9px;
                                    height: 9px;
                                    left: 167px;
                                    top: 4px;
                                    border-radius: 50%;
                                    background-color: #b7db2a;
                                }
                            }
                        }
                    }
                    .questionBtnCardLeft{
                        width: 230px;
                        background-color: rgba(238, 242, 244, 0.95);
                        height: 100vh;
                    }
                }

                .sideleft-div{
                    width: 65px;
                    padding: 15px 0;
                    transition: all .3s ease;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.144);
                    }
                }

                .search-icon{
                    position: relative;
                    
                    &::after{
                        
                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        bottom: 0;
                        left: 5px;
                    }
                    &::before{

                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        top: 0;
                        left: 5px;
                    }
                }
            }
            

        }
    }

    .sideleftButtom{
        display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .sideleftButtomul{

                display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .sidelefbuttomli{


                width: 65px;
                

                .sideleft-div{
                    width: 65px;
                    padding: 15px 0;
                    transition: all .3s ease;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.144);
                    }
                }

                .mobile-app{
                    position: relative;
                    
                    &::after{
                        
                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        bottom: 0;
                        left: 5px;
                    }
                    &::before{

                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        top: 0;
                        left: 5px;
                    }
                }
            }
            }
    }
}
// End sideLeft