// <!-- Faq card pop start -->

.questionBtnCard{
    position: fixed;
    top: 0;
    right: 65px;                 
    max-width: 888px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow-x: auto;

    .faqmain{
        width: 100%;
        height: auto;
        display: flex;

        .questionBtnCardRightside{
            width: 30%;
            // height: 100%;
            background-color: rgba(238, 242, 244, 0.95);

            .faqBtn{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: baseline;
                
                .faqBtnli{
                    width: 100%;

                    .faqbtna{
                        position: relative;
                        width: 100%;
                        display: block;
                        padding: 12px 57px;
                        font-size: 14px;
                        color: #7a7a7a;
                        transition: all .3s ease;
                        &:hover{
                            background-color: #e1e4ec;
                            &::after{
                                position: absolute;
                                content: "SHOW";
                                top: 16px;
                                font-size: 9px;
                                right: 23px;
                            }

                        }
                    }
                }

                .faqBtnliTask{
                    margin-top: 25px;
                }
            }
        }
        .readFaq{

            width: 70%;
            .readFaq1{
                
                padding: 25px 0px;
                border-bottom: 1px solid #ebeaea;

                @include readFaqNumber;

                .readFaq1Ul{
                    margin-left: 40px;
                    padding: 0 40px;
        
                    .readFaq1Li{
                        display: flex;
                        text-align: left;
                        margin: 30px 0;
                        

                        .readFaq1text{
                            margin-left: 20px;

                            .readFaq1title{
                                
                                @include faqTitle;

                                
                            }
                            .readFaq1Description{
                                font-size: 12px;
                                line-height: 20px;
                                color: #4c4c4c;
                            }
                        }
                    }
                }
            }

            .readfaq2{
                padding: 30px 0px;
                border-bottom: 1px solid #ebeaea;

                @include readFaqNumber;

                .faqNumber{
                    position: relative;
                    &::after{
                        position: absolute;
                        content: url(/assets/images/help-arrows-down.png);
                        top: -140px;

                    }
                }

                .readfaq2SearchBox{
                    position: relative;
                    margin-left: 80px;

                    input{
                        font-family: OpenSans, Helvetica, Arial, sans-serif;
                        width: 490px;
                        height: 60px;
                        padding-left: 15px;
                        border: 1px solid #dddcdc;
                        font-size: 18px;
                        font-weight: 300;
                    }

                    i{
                        font-size: 25px;
                        color: gray;
                        position: absolute;
                        right: 75px;
                        top: 15px;
                    }
                }
            }

            .readfaq3{
                padding: 25px 0px;
                border-bottom: 1px solid #ebeaea;

                @include readFaqNumber;

                .faqNumber{
                    position: relative;
                    &::after{
                        position: absolute;
                        content: url(/assets/images/help-arrows-left.png);
                        top: -55px;
                        left: 25px;

                    }
                }

                .faq3{

                    .faq3li{
                        @include faqTitle;
                        padding: 8px;
                        text-align: left;
                        margin-left: 75px;

                        @include buttonStyle;
                    }
                }
            }

            .readfaq4{

                padding: 25px 0px;
                border-bottom: 1px solid #ebeaea;

                @include readFaqNumber;

                .faqNumber{
                    position: relative;
                    &::after{
                        position: absolute;
                        content: url(/assets/images/help-arrows-down-simple.png);
                        left: -13px;
                        bottom: 20px;

                    }
                }
                .readFaq4Ul{
                    margin-left: 40px;
                    padding: 0 40px;

                    .readFaq14Li{
                        display: flex;
                        align-items: center;

                        .readFaq4text{
                            
                            padding: 15px;

                            .readFaq4title{
                                
                                a{
                                    font-size: 12px;
                                    color: rgb(24, 110, 198);
                                }
                            }

                            .readFaq4Description{
                                margin-top: 12px;
                            }
                        }
                    }
                }
            }

            .readfaq5{
                padding: 25px 0px;
                border-bottom: 1px solid #ebeaea;

                @include readFaqNumber;
                .readFaqHeading{
                    .faqNumber{
                        border: 2px solid #e21865 !important;
                        color: #e21865;
                        position: relative;
                    &::after{
                        position: absolute;
                        content: url(/assets/images/help-arrows-left.png);
                        left: 30px;
                        bottom: 20px;

                    }
                    }

                    }
                }

                .faq5Box{
                    width: 80%;
                    padding: 23px;
                    font-size: 14px;
                    border: 1px solid #e3e3e3;
                    margin-left: 80px;
                    line-height: 23px;
                    color: #7c7c7c;
                
            }
        }
    }

    .questionBtnCardHeader{
        display: flex;
        position: sticky;
        top: 0;
        z-index: 1;
        

        .supportlogo{
            padding: 24px 55px;
            background-color: rgba(238, 242, 244, 0.95);
            img{
                margin-right: 50px;
            }
        }

        .questionBtnHeader{
            width: 100%;
            text-align: center;
            padding: 10px 0;
            background-color: white;
            border-bottom: rgba(168, 168, 168, 0.178) 1px solid;

            .feedTitle{
                font-size: 2rem;
            }
            .feedP{
                font-size: 14px;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 9px;
                    height: 9px;
                    left: 160px;
                    top: 4px;
                    border-radius: 50%;
                    background-color: #b7db2a;
                }
            }
        }
    }
    .questionBtnCardRight{
        width: 27%;
        background-color: rgba(238, 242, 244, 0.95);
        height: 100vh;
    }
}
// <!-- Faq card pop End -->

// sideRight
.sideRight{
    position: fixed;
    right: 0;
    top: 0;
    width: 65px;
    height: 100vh;
    background-color: rgba(37, 37, 37, 0.021);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-left: .5px solid rgba(236, 236, 236, 0.219);
    transition: all .3s ease;
    &:hover{
        background-color: rgba(255, 255, 255, 0.123);
    }

    .sideRightTop{

        .sideRightTopUl{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .sideRightTopli{

                .sideRight-div{
                    width: 65px;
                    padding: 15px 0;
                    transition: all .3s ease;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.144);
                    }
                }

                .search-icon{
                    position: relative;
                    
                    &::after{
                        
                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        bottom: 0;
                        left: 5px;
                    }
                    &::before{

                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        top: 0;
                        left: 5px;
                    }
                }
            }
            

        }
    }

    .sideRightButtom{
        display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .sideRightButtomul{

                display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            .sideRightbuttomli{


                width: 65px;
                

                .sideRight-div{
                    width: 65px;
                    padding: 15px 0;
                    transition: all .3s ease;
                    &:hover{
                        background-color: rgba(255, 255, 255, 0.144);
                    }
                }

                .mobile-app{
                    position: relative;
                    
                    &::after{
                        
                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        bottom: 0;
                        left: 5px;
                    }
                    &::before{

                        content: "";
                        position: absolute;
                        width: 50px;
                        height: 1px;
                        background-color: rgba(236, 236, 236, 0.185);
                        top: 0;
                        left: 5px;
                    }
                }
            }
            }
    }
}
// End sideRight