// Color family
$white: white;

$grey: rgb(26, 26, 26);

$primeryColor: #9c7e85;
// Color family

// Font size
$smallFont: 1.2rem;

$mediumFont: 1.6rem;

$largFont: 2.4rem;

$xLargFont: 3.6rem;
// Font size
